.background {
	background-color: rgb(255, 255, 255);
  }
.backgroundqrArea{
	background-color: rgb(236, 236, 236);
  }

@media (prefers-color-scheme: dark) {
	.background {
		background-color: rgb(53, 53, 53);
	  }
	.backgroundqrArea {
		background-color: rgb(48, 49, 51);
	  }
}
